<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @destination.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @destination.country %>
</p>

<p>
	<strong>Population:</strong>
	<%= number_with_delimiter @destination.population %>
</p>

<p>
  <strong>Description:</strong>
  <%= @destination.description %>
</p>

<p>
	<%= image_tag @destination.avatar.url, alt: "#{@destination.city}", width: "200" %>
</p>

<%= link_to 'Edit', edit_destination_path(@destination) %> |
<%= link_to 'Back', destinations_path %>
